# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Unwanted VS files
*.VC.db
*.ilk
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# SKO/StickKnightsOnline.VC.opendb
*.opendb

#misc
.ipch
.log
.pdb
.vs/*
Debug/*

# Ignore game resources
*.png
*.mp3
StickKnightsOnline-Client/resources/*
StickKnightsOnline-Client/IMG
StickKnightsOnline-Client/SND



# Ignore dependencies
*.tlog
*.idb
/StickKnightsOnline-Client/stdout.txt
StickKnightsOnline.VC.db
StickKnightsOnline-Client/DAT/options.dat
StickKnightsOnline.VC.db
*.log
*.pdb
*.pdb
*.db
Debug/StickKnightsOnline.log
Debug/vc140.pdb
StickKnightsOnline-Client/StickKnightsOnline.pdb
StickKnightsOnline.VC.db
StickKnightsOnline.VC.db
*.db
*.ipch
*.pdb
StickKnightsOnline-Client/StickKnightsOnline.pdb
StickKnightsOnline.VC.db
*.htm
StickKnightsOnline.VC.db
StickKnightsOnline-Client/patch_windows.zip
StickKnightsOnline-Client/Stick-Knights-Online
StickKnightsOnline-Client/Stick-Knights-Online
*.bin
