# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# SKO/StickKnightsOnline.VC.opendb
*.opendb

# Ignore game resources
*.png
*.mp3
StickKnightsOnline-Client/resources/*
StickKnightsOnline-Client/IMG
StickKnightsOnline-Client/SND

# Ignore dependencies
*.tlog
*.idb
/StickKnightsOnline-Client/stdout.txt
StickKnightsOnline.VC.db
StickKnightsOnline-Client/DAT/options.dat
